@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

:root {
  --green-text: rgb(25, 205, 125);
  --dark-green-text: rgb(0, 103, 79);
  --light-green: rgb(171, 255, 199);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body,
html {
  width: 100vw;
  min-height: 100vh;
  overflow: auto;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}
